@media screen and (max-width: 680px) {
  header nav .checkbtn {
    display: block;
  }

  header nav .nav-items {
    position: fixed;
    width: 90%;
    height: 100vh;
    background-color: darkgrey;
    top: 6rem;
    right: -100%;
    transition: all 0.5s;
    z-index: 10;
  }

  header nav .nav-items ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }

  header nav .nav-items ul li a {
    font-size: 1.5rem;
  }

  header nav .nav-items ul li a:hover {
    color: gray;
  }

  header nav #check:checked ~ .nav-items {
    right: 0;
  }

  main {
    width: 100%;
    height: vh;
  }

  main .s1 {
    width: 90%;
    height: 100vh;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }

  main .s1 .right {
    width: 100%;
    height: 20rem;
    display: flex;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
  }

  main .second {
    width: 90%;
    height: 100vh;
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }

  main .second .links {
    width: 100%;
    height: 20rem;
    display: flex;
    background-attachment: scroll;
    background-size: contain;
    background-position: center;
    margin-bottom: 5rem;
  }

  main .second .rechts {
    margin-bottom: 5rem;
  }
}
